<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
   <title>Sapienter Billing Software - On-demand billing solutions</title>
   <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; CHARSET=ISO-8859-1">
<META NAME="Description" CONTENT="Online Billing Solutions for businesses with recurring billing from Sapienter Billing Software. We deliver on-demand enterprise billing and subscription management systems to fully automate invoicing and payments processing for companies of all sizes."/>
<META NAME="Keywords" CONTENT="billing online recurring on-demand web-based subscription management automate outsourcing solutions invoicing enterprise web service application grid sapienter billing software"/>
   <LINK REL=StyleSheet HREF="css/sapienterws.css" TYPE="text/css"/>
   <meta http-equiv="refresh" content="0;URL=billing">
</head>

<body>
   <a style="color: white;" href="http://www.sapienter.com/index.jsp?page=splash">Click here to enter</a>
</body>

</html>
