<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>jBilling</title>
	<link media="all" rel="stylesheet" href="css/all.css" type="text/css" />
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/clearinput.js"></script>
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css/lt7.css" media="screen"/><![endif]-->
</head>
<body>
	<div id="wrapper">
		<!-- header -->
		<div id="header">
			<h1><a href="#">jBilling</a></h1>
			<div class="search">
				<form action="#">
					<fieldset>
						<input type="image" src="images/icon-search.gif" value="" class="btn" />
						<div class="input-bg">
							<input type="text" class="text default" value="Search for..." />
							<a href="#" class="open"></a>
							<div class="popup">
								<div class="top-bg">
									<div class="btm-bg">
										<div class="input-row">
											<input type="radio" id="check01" name="search" checked="checked" />
											<label for="check01">Anywhere</label>
										</div>
										<div class="input-row">
											<input type="radio" id="check02" name="search" />
											<label for="check02">Users</label>
										</div>
										<div class="input-row">
											<input type="radio" id="check03" name="search" />
											<label for="check03">Invoices</label>
										</div>
										<div class="input-row">
											<input type="radio" id="check04" name="search" />
											<label for="check04">Emails</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<ul class="top-nav">
				<li>Hello Andre</li>
				<li><a href="#"><img src="images/icon25.gif" alt="image description" />My Acount</a></li>
				<li><a href="#"><img src="images/icon26.gif" alt="image description" />jBilling Training</a></li>
				<li><a href="#"><img src="images/icon27.gif" alt="image description" />Help</a></li>
				<li><a href="#"><img src="images/icon28.gif" alt="image description" />Logout</a></li>
			</ul>
			<div id="navigation">
				<ul>
					<li><a href="#"><span>Customers</span><em></em></a></li>
					<li><a href="#"><span>Invoices</span><em></em></a></li>
					<li><a href="#"><span>Payments and Refunds</span><em></em></a></li>
					<li><a href="#"><span>Orders</span><em></em></a></li>
					<li class="active"><a href="#"><span>Billing</span><em></em></a></li>
					<li><a href="#"><span>Mediation</span><em></em></a></li>
					<li><a href="#"><span>Reports</span><em></em></a></li>
					<li><a href="#"><span>Products</span><em></em></a></li>
					<li><a href="#"><span>Configuration</span><em></em></a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<!-- breadcrumbs -->
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Billing</li>
				</ul>
			</div>
			<div class="holder">
				<div class="form-box">
					<form action="#">
						<fieldset>
							<label for="item04">Show billing for</label>
							<div class="input-bg">
								<a href="#"></a>
								<input type="text" class="text" value="05/15/2010" id="item04" />
							</div>
							<a href="#" class="submit find"><span>Find Billing Cycle</span></a>
						</fieldset>
					</form>
				</div>
				<a href="#" class="submit apply"><span>Show Orders</span></a>
				<a href="#" class="submit show"><span>Show Invoices</span></a>
				<a href="#" class="submit show2"><span>Hide Payment Info</span></a>
			</div>
			<div class="table-info">
				<em>ID: <strong>2218</strong></em>
				<em>Billing Start Date: <strong>01 May 2010</strong></em>
				<em>Billing End Date: <strong>04 May 2010</strong></em>
				<em>Number of Runs: <strong>3</strong></em>
			</div>
			<div class="table-area">
				<table>
					<thead>
						<tr>
							<td class="first">Start Date&nbsp;&nbsp;</td>
							<td>End Date&nbsp;</td>
							<td>Payment <br />Processing Ended</td>
							<td>Invoices <br />Generated</td>
							<td>Total Invoiced</td>
							<td class="col04">Total Paid</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>Total Not Paid</td>
							<td class="last">Currency</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="col02">03 May 2006 <br />12:00:16 AM</td>
							<td>03 May 2006 <br />12:00:16 AM</td>
							<td>In Process</td>
							<td>165</td>
							<td></td>
							<td class="col01">
								<em>$ 90.65</em>
								<em>$ 8807.10</em>
								<em>$ 5307.70</em>
								<em>$ 10063.64</em>
							</td>
							<td>
								<em>Discovery</em>
								<em>Visa</em>
								<em>Mastercard</em>
								<em>Amex</em>
							</td>
							<td></td>
							<td>US Dollar</td>
						</tr>
						<tr class="bg">
							<td class="col02"></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>$ 67796.61</strong></td>
							<td class="col01"><em>$ 43527.64</em></td>
							<td></td>
							<td><strong>$ 24269.01</strong></td>
							<td></td>
						</tr>
						<tr>
							<td class="col02">03 May 2006 <br />12:00:16 AM</td>
							<td>03 May 2006 <br />12:00:16 AM</td>
							<td>In Process</td>
							<td>19</td>
							<td></td>
							<td class="col01">
								<em>$ 15.65</em>
								<em>$ 567.10</em>
								<em>$ 245.70</em>
								<em>$ 1063.55</em>
							</td>
							<td>
								<em>Discovery</em>
								<em>Visa</em>
								<em>Mastercard</em>
								<em>Amex</em>
							</td>
							<td></td>
							<td>Canada <br />Dollar</td>
						</tr>
						<tr class="bg">
							<td class="col02"></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>$ 3096.61</strong></td>
							<td class="col01"><em>$ 1927.64</em></td>
							<td></td>
							<td><strong>$ 1102.01</strong></td>
							<td></td>
						</tr>
						<tr>
							<td class="col02">03 May 2006 <br />12:00:16 AM</td>
							<td>03 May 2006 <br />12:00:16 AM</td>
							<td>In Process</td>
							<td>11</td>
							<td></td>
							<td class="col01">
								<em>$ 6.65</em>
								<em>$ 412.10</em>
								<em>$ 323.70</em>
								<em>$ 1100.55</em>
							</td>
							<td>
								<em>Discovery</em>
								<em>Visa</em>
								<em>Mastercard</em>
								<em>Amex</em>
							</td>
							<td></td>
							<td>US Dollar</td>
						</tr>
						<tr class="bg">
							<td class="col02"></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>$ 2201.61</strong></td>
							<td class="col01"><em>$ 1827.64</em></td>
							<td></td>
							<td><strong>$ 369.01</strong></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-info">
				<em><strong>Next Billing Cycle</strong></em>
			</div>
			<div class="table-area">
				<table>
					<thead>
						<tr>
							<td class="first">Start Date&nbsp;&nbsp;</td>
							<td>End Date&nbsp;</td>
							<td>Payment <br />Processing Ended</td>
							<td>Invoices <br />Generated</td>
							<td>Total Invoiced</td>
							<td class="col04">Total Paid</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>Total Not Paid</td>
							<td class="last">Currency</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="col02 col03" colspan="3">Totals for All Runs This Billing Cycle in United States Dollar</td>
							<td>165</td>
							<td></td>
							<td class="col01">
								<em>$ 90.65</em>
								<em>$ 8807.10</em>
								<em>$ 5307.70</em>
								<em>$ 10063.64</em>
							</td>
							<td>
								<em>Discovery</em>
								<em>Visa</em>
								<em>Mastercard</em>
								<em>Amex</em>
							</td>
							<td></td>
							<td>US Dollar</td>
						</tr>
						<tr class="bg">
							<td class="col02" colspan="3"></td>
							<td></td>
							<td><strong>$ 67796.61</strong></td>
							<td class="col01"><em>$ 43527.64</em></td>
							<td></td>
							<td><strong>$ 24269.01</strong></td>
							<td></td>
						</tr>
						<tr>
							<td class="col02 col03" colspan="3">Totals for All Runs This Billing Cycle in Canada Dollar</td>
							<td>19</td>
							<td></td>
							<td class="col01">
								<em>$ 15.65</em>
								<em>$ 567.10</em>
								<em>$ 245.70</em>
								<em>$ 1063.55</em>
							</td>
							<td>
								<em>Discovery</em>
								<em>Visa</em>
								<em>Mastercard</em>
								<em>Amex</em>
							</td>
							<td></td>
							<td>Canada <br />Dollar</td>
						</tr>
						<tr class="bg">
							<td class="col02" colspan="3"></td>
							<td></td>
							<td><strong>$ 3096.61</strong></td>
							<td class="col01"><em>$ 1927.64</em></td>
							<td></td>
							<td><strong>$ 1102.01</strong></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>