# build artifacts
target/
build/
resources/
TEST*.xml

# environment specific config files
src/java/jbilling.properties

# temp files
activemq-data/
tmp/
logs/
nullmediation/
*.log
*~
.ant-targets*.xml

# external libraries
libs/

# project files
.idea/
*.iml
.project

