# build dirs
build.dir=${basedir}/build
build.test.dir=${build.dir}/test
build.test-results.dir=${build.dir}/test-results

build.classes.dir=${basedir}/target/classes

build.resources.dir=${basedir}/resources


# source directories
source.dir=${basedir}

source.classes.dir=${source.dir}/classes
source.server.package.dir=com/sapienter/jbilling/server
source.client.package.dir=com/sapienter/jbilling/client
source.common.package.dir=com/sapienter/jbilling/common

source.descriptor.dir=${source.dir}/descriptors
source.designs.descriptor.dir=${source.descriptor.dir}/designs
source.hibernate.descriptor.dir=${source.descriptor.dir}/hibernate
source.mediation.descriptor.dir=${source.descriptor.dir}/mediation
source.resources.descriptor.dir=${source.descriptor.dir}/resources
source.rules.descriptor.dir=${source.descriptor.dir}/mediation
source.spring.descriptor.dir=${source.descriptor.dir}/spring
source.torque.descriptor.dir=${source.descriptor.dir}/torque
source.web.descriptor.dir=${source.descriptor.dir}/web

source.cs.dir=${source.dir}/cs
source.documentation.dir=${basedir}/documentation/user/docs
source.sql.dir=${source.dir}/sql

source.test.dir=${source.dir}/test
source.test.grails-integration.dir=${source.test.dir}/integration
source.test.integration.dir=${source.test.dir}/org-integration
source.test.unit.dir=${source.test.dir}/unit
source.test.ws.dir=${source.test.dir}/ws


# 3rd party libraries
grails.plugins.lib.dir=${source.dir}/jars

libs.dir=${basedir}/libs
junit.dir=${libs.dir}/junit
easymock.dir=${libs.dir}/easymock

digester.jar=${libs.dir}/client/commons-digester-1.8.jar
drools-api.jar=${libs.dir}/drools/drools-api-5.0.1.jar
spring-test.jar=${libs.dir}/spring/spring-test.jar

# external libraries used to run the "official" release generation targets
# not included in the standard jbilling release, developers download these libraries locally
torque.home.dir=/home/user/tools/torque-gen-3.2




#
#   Deprecated properties
#   todo: cleanup un-used properties when migrating to a complete Grails build
#
tools.dir=${basedir}/../
source.view.dir=${source.dir}/view
source.rules.dir=${source.descriptor.dir}/rules
source.lib.dir=${source.dir}/lib

# 
# Tools, APIs related properties
#
server.dir=${tools.dir}
server.web.dir=${server.dir}/webapps
jbilling.conf.dir=${server.dir}/conf
libs.client.dir=${libs.dir}/client
#the next two are for the .tld files to go in the war file
taglib.home.dir=${libs.client.dir}/WEB-INF
struts.home.tag.dir=${libs.client.dir}/WEB-INF
#the next directory is needed to run xdoclet
xdoclet.home.dir=${libs.dir}/xdoclet

#
# Deployment related properties
#
deploy.local.dir=${server.dir}/webapps
deploy.resources.dir=${basedir}/../resources
image.source.dir=c:/bop/image/source
image.target.dir=c:/bop/image/target
version=1_1_3
#Configure the context path for this application -->
path=/billing
#Configure properties to access Tomcat's Manager application -->
url=http://localhost:8080/manager
username=admin
password=123qwe

#<!-- Build temporary directories -->
build.designs.dir=${build.dir}/designs
build.deploy.dir=${build.dir}/deploy
build.api.dir=${build.dir}/api
build.view.dir=${build.dir}/view

