# properties for the installer
driver_class=org.postgresql.Driver
connection_url=jdbc:postgresql://localhost:5432/jbilling
connection_username=jbilling_user
connection_password=jbilling
# directory where many temporary files
# will be created. Also other files, like logos, will be put here
base_dir=c:/jbilling/resources/
# email server parameters for emails
# sent to the entities and as a default
smtp_server=localhost
smtp_port=25
smtp_username=
smtp_password=
email_from=admin@yourcompany.com
email_from_name=JBilling
#this is the super user that can login to any entity.
#the name has to be unique system wide
internal_username=jbilling_root
#the key has to be present in the request to authorize an internal login
internal_key=enterALongStringHere
# if this file is present, all session are killed an
# nobody can login
login_lock=c:/temp/jbilling.lock
# the URL where customers can login to jbilling. Used 
# in the default notification texts
url=http://www.yourcompany.com
# redirect all unsecure requests (http port 80) to SSL (https port 443)
force_https=false
