-- this script will upgrade a database schema from the latest jbilling release
-- to the code currently at the tip of the trunk.
-- It is tested on postgreSQL, but it is meant to be ANSI SQL
--
-- MySQL does not support many of the ANSI SQL statements used in this file to upgrade the
-- base schema. If you are using MySQL as your database, you will need to edit this file and
-- comment out the labeled 'postgresql' statements and un-comment the ones labeled 'mysql'

-- plans and pricing models
DROP TABLE IF EXISTS price_model;
CREATE TABLE price_model (
    id integer NOT NULL,
    strategy_type varchar(20) NOT NULL,
    rate decimal(22,10) NOT NULL,
    included_quantity integer,
    currency_id integer NOT NULL,
    PRIMARY KEY (id)
);
ALTER TABLE price_model ADD CONSTRAINT price_model_currency_id_FK FOREIGN KEY (currency_id) REFERENCES currency (id);

insert into jbilling_table (id, name) values (94, 'price_model');
insert into jbilling_seqs (name, next_id) values ('price_model', 1);

DROP TABLE IF EXISTS price_model_attribute;
CREATE TABLE price_model_attribute (
    price_model_id integer NOT NULL,
    attribute_name varchar(255) NOT NULL,
    attribute_value varchar(255),
    PRIMARY KEY (price_model_id, attribute_name)
);
ALTER TABLE price_model_attribute ADD CONSTRAINT price_model_attr_model_id_FK FOREIGN KEY (price_model_id) REFERENCES price_model (id);

insert into jbilling_table (id, name) values (95, 'price_model_attribute');
#Need jbilling_seqs insert?
#insert into jbilling_seqs (name, next_id) values ('price_model_attribute', 1);

DROP TABLE IF EXISTS plan;
CREATE TABLE plan (
    id integer NOT NULL,
    item_id integer NOT NULL,
    description varchar(255),
    PRIMARY KEY (id)
);
ALTER TABLE plan ADD CONSTRAINT plan_item_id_FK FOREIGN KEY (item_id) REFERENCES item (id);

insert into jbilling_table (id, name) values (96, 'plan');
insert into jbilling_seqs (name, next_id) values ('plan', 1);

DROP TABLE IF EXISTS plan_item;
CREATE TABLE plan_item (
    id integer NOT NULL,
    plan_id integer,
    item_id integer NOT NULL,
    price_model_id integer NOT NULL,
    precedence integer NOT NULL,
    PRIMARY KEY (id)
);
CREATE INDEX plan_item_precedence_i ON plan_item (item_id);
CREATE INDEX plan_item_item_id_i ON plan_item (precedence);
ALTER TABLE plan_item ADD CONSTRAINT plan_item_item_id_FK FOREIGN KEY (item_id) REFERENCES item (id);
ALTER TABLE plan_item ADD CONSTRAINT plan_item_plan_id_FK FOREIGN KEY (plan_id) REFERENCES plan (id);
ALTER TABLE plan_item ADD CONSTRAINT plan_item_price_model_id_FK FOREIGN KEY (price_model_id) REFERENCES price_model (id);

insert into jbilling_seqs (name, next_id) values ('plan_item', 1);

DROP TABLE IF EXISTS customer_price;
CREATE TABLE customer_price (
    plan_item_id integer NOT NULL,
    user_id integer NOT NULL,
    create_datetime timestamp DEFAULT CURRENT_TIMESTAMP NOT NULL,
    PRIMARY KEY (plan_item_id, user_id)
);
ALTER TABLE customer_price ADD CONSTRAINT customer_price_plan_item_id_FK FOREIGN KEY (plan_item_id) REFERENCES plan_item (id);
ALTER TABLE customer_price ADD CONSTRAINT customer_price_user_id_FK FOREIGN KEY (user_id) REFERENCES base_user (id);

#jbilling seq?

-- migrate item price to default item price_model
-- postgresql
-- ALTER TABLE item add column price_model_id integer;
-- ALTER TABLE price_model add column tmp_item_id integer;
-- insert into price_model (id, strategy_type, tmp_item_id, rate, currency_id) (select distinct (item_id) id, 'METERED', item_id, price, currency_id from item_price where currency_id = 1); -- change to your primary currency ID
-- update item set price_model_id = (select id from price_model where tmp_item_id = item.id);
-- ALTER TABLE price_model drop column tmp_item_id;
-- mysql
ALTER TABLE item add column price_model_id integer;
ALTER TABLE price_model add column tmp_item_id integer;
insert into price_model (id, strategy_type, tmp_item_id, rate, currency_id) (select id, 'METERED', item_id, price, currency_id from item_price where currency_id = 1 group by item_id order by id); -- change to your primary currency ID
update item, price_model set item.price_model_id = price_model.id where item.id = price_model.tmp_item_id;
ALTER TABLE price_model drop column tmp_item_id;

-- reset jbilling_seqs for price_model after inserting default item price_model
update jbilling_seqs set next_id = coalesce((select round(max(id)/100)+1 from price_model), 1) where name = 'price_model';

-- drop legacy item_price table
DROP TABLE IF EXISTS item_price;
delete from jbilling_table where name = 'item_price';
delete from jbilling_seqs where name = 'item_price';

-- price model pricing plug-ins
select * from pluggable_task_type where id = 79;
insert into pluggable_task_type (id, category_id, class_name, min_parameters) values (81, 14, 'com.sapienter.jbilling.server.pricing.tasks.PriceModelPricingTask', 0);
insert into pluggable_task_type (id, category_id, class_name, min_parameters) values (80, 14, 'com.sapienter.jbilling.server.pricing.tasks.TieredPriceModelPricingTask', 0);

-- external ACH storage plug-in
insert into pluggable_task_type  (id, category_id, class_name, min_parameters) values (84, 17, 'com.sapienter.jbilling.server.payment.tasks.SaveACHExternallyTask', 1);

-- Modified size of ACH records to allow encryption
-- alter table ach alter column aba_routing type character varying(40); -- postgresql
-- alter table ach alter column bank_account type character varying(60); -- postgresql
alter table ach modify aba_routing varchar(40); -- mysql
alter table ach modify bank_account varchar(60); -- mysql

-- payment authorization transaction id
-- ALTER TABLE payment_authorization ALTER COLUMN transaction_id TYPE character varying(40); -- postgresql
alter table payment_authorization modify transaction_id varchar(40); -- mysql

-- ach external storage gateway_key
alter table ach add column gateway_key varchar(100) default null;

-- one-time / recurring invoice line types
insert into invoice_line_type (id, description, order_position) values (6, 'item one-time', 3);
update invoice_line_type set description = 'item recurring' where id = 1;
update invoice_line_type set order_position = 4 where id = 4;
update invoice_line_type set order_position = 5 where id = 5;
update invoice_line_type set order_position = 6 where id = 2;

-- new billing process filter task 

-- new notification categories for ui
create table notification_category (
	id integer NOT NULL,
	CONSTRAINT notification_category_pk PRIMARY KEY(id)
);

insert into notification_category (id) values (1);
insert into notification_category (id) values (2);
insert into notification_category (id) values (3);


insert into international_description (table_id, foreign_id, psudo_column, language_id, content) values (104, 1, 'description',1, 'Invoices');
insert into international_description (table_id, foreign_id, psudo_column, language_id, content) values (104, 2, 'description',1, 'Orders');
insert into international_description (table_id, foreign_id, psudo_column, language_id, content) values (104, 3, 'description',1, 'Payments');

-- new column to store the notification category for this notification
ALTER table notification_message_type add column category_id integer;
-- ALTER table notification_message_type add constraint "category_id_fk_1" foreign key (category_id) references notification_category(id); --postgres
alter table notification_message_type add constraint category_id_fk_1 foreign key (category_id) references notification_category(id); -- mysql

update notification_message_type set category_id = 1 where id = 1;
update notification_message_type set category_id = 4 where id = 2;
update notification_message_type set category_id = 4 where id = 3;
update notification_message_type set category_id = 4 where id = 4;
update notification_message_type set category_id = 4 where id = 5;
update notification_message_type set category_id = 4 where id = 6;
update notification_message_type set category_id = 4 where id = 7;
update notification_message_type set category_id = 4 where id = 8;
update notification_message_type set category_id = 4 where id = 9;
update notification_message_type set category_id = 3 where id = 10;
update notification_message_type set category_id = 3 where id = 11;
update notification_message_type set category_id = 1 where id = 12;
update notification_message_type set category_id = 2 where id = 13;
update notification_message_type set category_id = 2 where id = 14;
update notification_message_type set category_id = 2 where id = 15;
update notification_message_type set category_id = 3 where id = 16;
update notification_message_type set category_id = 3 where id = 17;
update notification_message_type set category_id = 1 where id = 18;
update notification_message_type set category_id = 4 where id = 19;
update notification_message_type set category_id = 4 where id = 20;

-- plug-in categories now have a i18n description
alter table pluggable_task_type_category drop column description;

ALTER table pluggable_task add column notes varchar(1000);

-- add descriptions to every plug-in type, so the new GUI can use them
delete from international_description where table_id = 24;

-- filter database tables
drop table if exists filter;
create table filter (
    id int not null,
    filter_set_id int not null,
    type varchar(255) not null,
    constraint_type varchar(255) not null,
    field varchar(255) not null,
    template varchar(255) not null,
    visible boolean not null,
    integer_value int,
    string_value varchar(255),
    start_date_value timestamp,
    end_date_value timestamp,
    version int not null,
    primary key (id)
);

drop table if exists filter_set;
create table filter_set (
    id int not null,
    name varchar(255) not null,
    user_id int not null,
    version int not null,    
    primary key (id)
);


-- recent item tables
drop table if exists recent_item;
create table recent_item (
  id int not null,  
  type varchar(255) not null,
  object_id int not null,
  user_id int not null,
  version int not null,
  primary key (id)
);


-- breadcrumb tables
drop table if exists breadcrumb;
create table breadcrumb (
    id int not null,
    user_id int not null,
    controller varchar(255) not null,
    action varchar(255),
    name varchar(255),
    object_id int,
    version int not null,
    primary key (id)
);


-- contact type optlock
alter table contact_type add column OPTLOCK int null;
update contact_type set OPTLOCK = 0;
alter table contact_type modify column OPTLOCK int not null;

-- Orders should always have an active since date
update purchase_order set active_since = create_datetime where active_since is null;

-- custom contact fields
-- table id entry

-- table id generator

-- optlock column
alter table contact_field_type  add column OPTLOCK int null;
update contact_field_type set OPTLOCK = 0; 
alter table contact_field_type modify column OPTLOCK int not null;

-- Entries to bring the old contact field type descriptions from the properties file
-- into the international_description table for i18n purposes.
-- The below query should be made once per properties file. In the query below:
--    1. 'content' value comes from the property value in the language properties file
--    2. 'foreign_id' is the row id of the contact_field_type' table
--    3. 'language_id' is the id column value of the language table for the corresponding language
--	  4. 'table_id' is the id columne value of the jbilling_table table where name = 'contact_field_type'



-- internal item types
alter table item_type add column internal boolean null;
update item_type set internal = false;
alter table item_type modify column internal boolean not null;

-- internal 'plans' category, add for each company
select max(id)+1 from item_type;
#401
-- insert into item_type (id, entity_id, description, internal, order_line_type_id, optlock) values ((select max(id)+1 from item_type), 1, 'plans', true, 1, 0);
insert into item_type (id, entity_id, description, internal, order_line_type_id, optlock) values (401, 1, 'plans', true, 1, 0);
update jbilling_seqs set next_id = (select round(max(id)/100)+1 from item_type) where name = 'item_type';

-- price model chaining
alter table price_model add column next_model_id int null;
alter table price_model add constraint price_model_next_id_FK foreign key (next_model_id) references price_model (id);

-- plan item bundled quantity
alter table plan_item add column bundled_quantity numeric(22,10) null;

-- nullable price model rate and currency
alter table price_model modify column rate decimal(22,10) null;
alter table price_model modify column currency_id integer null;

-- target period for plans and plan items
alter table plan add column period_id int;
update plan set period_id = (select min(id) from order_period where entity_id = 1);
alter table plan modify column period_id integer not null;
alter table plan add constraint plan_period_id_FK foreign key (period_id) references order_period (id);

alter table plan_item add column period_id int;
alter table plan_item add constraint plan_item_period_id_FK foreign key (period_id) references order_period (id);

-- descriptions of messages for the audit log screens

-- lengthen the preference int value to allow for longer mediation "last read ID" values
alter table preference modify int_value int4 null default null; -- mysql
-- alter table preference alter int_value type int4; -- postgresql

-- shortcut tables
drop table if exists shortcut;
CREATE TABLE shortcut (
  id int NOT NULL,
  user_id int NOT NULL,
  controller character varying(255) NOT NULL,
  action character varying(255),
  name character varying(255),
  object_id int,
  version int not null,
  PRIMARY KEY (id)
);


-- gl code new field in item table
alter table item add column gl_code character varying (50);

-- drop item manual pricing flag
alter table item drop column price_manual;

-- sugar crm plans integration

-- drop legacy reporting tables
drop table report_field;
drop table report_type_map;
drop table report_type;
drop table report_user;
drop table report_entity_map;
drop table report;

delete from jbilling_seqs where name in ('report_field', 'report_type_map', 'report_type', 'report_user', 'report_entity_map', 'report');
delete from international_description where table_id in (
  select id from jbilling_table where name in ('report_field', 'report_type_map', 'report_type', 'report_user', 'report_entity_map', 'report')
);
delete from jbilling_table where name in ('report_field', 'report_type_map', 'report_type', 'report_user', 'report_entity_map', 'report');

-- new reports tables
drop table if exists report;
create table report (
    id int NOT NULL,
    type_id int NOT NULL,
    name varchar(255) NOT NULL,
    file_name varchar(255) NOT NULL,
    OPTLOCK int NOT NULL,
    PRIMARY KEY (id)
);

drop table if exists report_type;
create table report_type (
    id int NOT NULL,
    name varchar(255) NOT NULL,
    OPTLOCK int NOT NULL,
    PRIMARY KEY (id)
);
alter table report add constraint report_type_id_FK foreign key (type_id) references report_type (id);

drop table if exists report_parameter;
create table report_parameter (
    id int NOT NULL,
    report_id int NOT NULL,
    dtype varchar(10) NOT NULL,
    name varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
alter table report_parameter add constraint report_param_report_id_FK foreign key (report_id) references report (id);

drop table if exists entity_report_map;
create table entity_report_map (
    report_id int NOT NULL,
    entity_id int NOT NULL,
    PRIMARY KEY (report_id, entity_id)
);
alter table entity_report_map add constraint report_map_report_id_FK foreign key (report_id) references report (id);
alter table entity_report_map add constraint report_map_entity_id_FK foreign key (entity_id) references entity (id);



-- new report types
insert into report_type (id, name, optlock) values (1, 'invoice', 0);

insert into report_type (id, name, optlock) values (2, 'order', 0);

insert into report_type (id, name, optlock) values (3, 'payment', 0);


-- invoice reports
insert into report (id, type_id, name, file_name, optlock) values (1, 1, 'total_invoiced', 'total_invoiced.jasper', 0);
insert into report_parameter (id, report_id, dtype, name) values (1, 1, 'date', 'start_date');
insert into report_parameter (id, report_id, dtype, name) values (2, 1, 'date', 'end_date');
insert into report_parameter (id, report_id, dtype, name) values (3, 1, 'integer', 'period');
insert into entity_report_map (report_id, entity_id) values (1, 1);

insert into report (id, type_id, name, file_name, optlock) values (2, 1, 'ageing_balance', 'ageing_balance.jasper', 0);
insert into entity_report_map (report_id, entity_id) values (2, 1);

-- order reports
insert into report (id, type_id, name, file_name, optlock) values (3, 2, 'product_subscribers', 'product_subscribers.jasper', 0);
insert into entity_report_map (report_id, entity_id) values (3, 1);

-- payment reports

-- user reports


-- finance reports



-- plan item bundling tables
drop table if exists plan_item_bundle;
create table plan_item_bundle (
    id int NOT NULL,
    quantity numeric(22, 10) NOT NULL,
    period_id int NOT NULL,
    target_customer varchar(20) NOT NULL,
    add_if_exists boolean NOT NULL,
    PRIMARY KEY (id)
);
alter table plan_item_bundle add constraint plan_item_bundle_period_FK foreign key (period_id) references order_period (id);


-- migrate item bundles to new format
alter table plan_item add column plan_item_bundle_id int;

insert into plan_item_bundle (id, quantity, period_id, target_customer, add_if_exists) (select id, bundled_quantity, period_id, 'SELF', true from plan_item where bundled_quantity is not null and period_id is not null);
update plan_item set plan_item_bundle_id = id where bundled_quantity is not null and period_id is not null;

alter table plan_item drop foreign key plan_item_period_id_FK;
alter table plan_item drop column period_id;
alter table plan_item drop column bundled_quantity;

alter table plan_item add constraint plan_item_bundle_id_FK foreign key (plan_item_bundle_id) references plan_item_bundle (id);

update jbilling_seqs set next_id = coalesce((select round(max(id)/100)+1 from plan_item_bundle), 1) where name = 'plan_item_bundle';


-- preference value consolidation
update preference set str_value = int_value where int_value is not null;
update preference set str_value = float_value where float_value is not null;

alter table preference drop column int_value;
alter table preference drop column float_value;

-- alter table preference rename column str_value to value; -- postgresql
alter table preference change str_value value varchar(200); -- mysql

update preference_type set str_def_value = int_def_value where int_def_value is not null;
update preference_type set str_def_value = float_def_value where float_def_value is not null;

alter table preference_type drop column int_def_value;
alter table preference_type drop column float_def_value;

-- alter table preference_type rename column str_def_value to def_value; -- postgresql
alter table preference_type change str_def_value def_value varchar(200); -- mysql


-- remove obsolete preferences
delete from preference where type_id = 1;
delete from preference where type_id = 2;
delete from preference where type_id = 3;
delete from preference where type_id = 26;
delete from preference where type_id = 34;

delete from international_description where table_id = 50 and foreign_id = 1;
delete from international_description where table_id = 50 and foreign_id = 2;
delete from international_description where table_id = 50 and foreign_id = 3;
delete from international_description where table_id = 50 and foreign_id = 26;
delete from international_description where table_id = 50 and foreign_id = 34;

delete from preference_type where id = 1;
delete from preference_type where id = 2;
delete from preference_type where id = 3;
delete from preference_type where id = 26;
delete from preference_type where id = 34;


-- missing preference descriptions
























-- preference instructions


















-- no instructions for 22 - Number of days between invoice generation and first reminder
-- no instructions for 23 - Number of days between subsequent invoice reminders

























-- editable currency
alter table currency add column OPTLOCK int;
update currency set OPTLOCK = 0;

 -- if does not exist
-- update jbilling_seqs set next_id = (select (max(id)/10)+1 from currency) where name = 'currency'; -- if already exists

-- breadcrumb descriptions
alter table breadcrumb add column description varchar(255);

-- new filter types
alter table filter add column boolean_value boolean;
alter table filter add column decimal_value numeric(22, 10);
alter table filter add column decimal_high_value numeric(22, 10);

-- remove old gui tables
drop table menu_option;
drop table list_field_entity;
drop table list_field;
drop table list_entity;
drop table list;

delete from international_description where table_id = 63; -- menu_option
delete from international_description where table_id = 77; -- list_entity
delete from international_description where table_id = 78; -- list_field_entity

delete from jbilling_table where name in ('list', 'list_entity', 'list_field', 'list_field_entity', 'menu_option');
delete from jbilling_seqs where name in ('list', 'list_entity', 'list_field', 'list_field_entity', 'menu_option');

-- shorter description for carried invoice status
update international_description set content = 'Carried' where table_id = 90 and foreign_id = 3 and psudo_column = 'description' and language_id = 1;

-- ageing plug-ins
insert into pluggable_task_type_category (id, interface_name) values (24, 'com.sapienter.jbilling.server.process.task.IAgeingTask');




-- Date: 25-May-2011
-- Redmine Issue: 996
-- Description: Fixed reference data for error in processing order of Mediation Reader plugins
update pluggable_task set processing_order=2 where id=6020;
update pluggable_task set processing_order=3 where id=480;


-- Date: 03-Jun-2011
-- Redmine Issue: #576
-- Description: User permissions and role screens
-- editable user permissions

-- delete all old permissions and permission types
delete from international_description where table_id = 59;
delete from permission_role_map;
delete from permission_user;
delete from permission;
delete from permission_type;

-- delete obsolete roles
update user_role_map set role_id = 3 where role_id = 1; -- move internal users to clerk
delete from role where id = 1;

update user_role_map set role_id = 3 where role_id = 4; -- move partner users to customer
delete from role where id = 4;

-- new permissions
insert into permission_type (id, description) values (1, 'Customer');
insert into permission_type (id, description) values (2, 'Order');
insert into permission_type (id, description) values (3, 'Payment');

-- customer
insert into permission (id, type_id) values (10, 1);

insert into permission (id, type_id) values (11, 1);

insert into permission (id, type_id) values (12, 1);



-- orders




-- payments




-- products



-- product category



-- plans



-- invoices


-- billing

-- menu










-- api

-- default permissions for super users
insert into permission_role_map (role_id, permission_id) select 2, id from permission; -- all

-- default permissions for clerks
insert into permission_role_map (role_id, permission_id) select 3, id from permission where type_id in (1, 2, 3, 4, 5, 6, 7); -- everything but configuration/billing/api
insert into permission_role_map (role_id, permission_id) values (3, 90);
insert into permission_role_map (role_id, permission_id) values (3, 91);
insert into permission_role_map (role_id, permission_id) values (3, 92);


-- Date: 28-Jun-2011
-- Redmine Issue: #1063
-- Description: Implement Permissions (second pass)












-- permissions for super users

-- permissions for clerks


-- Date: 04-Jul-2011
-- Redmine Issue: #1083
-- Description: Order builder: make line description and price editable



-- permissions for super users


-- Date: 05-Jul-2011
-- Redmine Issue: #1092
-- Description: Customer list permissions




-- permissions for super users

-- permissions for clerks

-- permissions for customers


-- Date: 11-Jul-2011
-- Description: Categories excluded from percentage line calculations

drop table if exists item_type_exclude_map;
create table item_type_exclude_map (
    item_id int NOT NULL,
    type_id int NOT NULL,
    PRIMARY KEY (item_id, type_id)
);

alter table item_type_exclude_map add constraint item_type_exclude_item_id_FK foreign key (item_id) references item (id);
alter table item_type_exclude_map add constraint item_type_exclude_type_id_FK foreign key (type_id) references item_type (id);

-- Date: 13-Jul-2011
-- Description: Item selector price model

alter table order_line add column use_item boolean;
update order_line set use_item = false where use_item is null;
alter table order_line MODIFY column use_item boolean not null;

-- alter table price_model alter column strategy_type type varchar(40); -- postgresql
alter table price_model modify strategy_type varchar(40); -- mysql


-- Sept 10
-- Redmine issue #1302
-- Description: Round invoices total and balance to 2 digits
insert into preference_type values (50, 2);




-- 01-Nov-2011
-- Redmine Issue: #1404
-- Description: Credit Card that expires in the same month does not process automatically

-- update credit_card set cc_expiry = date_trunc('month', cc_expiry) + INTERVAL '1 month' - INTERVAL '1 day'; -- postgresql
update credit_card set cc_expiry = last_day(cc_expiry); -- mysql

-- Date: 29-Nov-2011
-- Redmine Issue: #1575
-- Description: Cannot add Line Percentage to a Plan
alter table plan_item modify column price_model_id int null;
